[Unit]
Description=Gem kursen på et realkredit lån i InfluxDB
Requires=docker.service

[Service]
Type=exec
ExecStart=/usr/local/bin/fondskode.sh
Restart=no

[Install]
WantedBy=timers.target


