[Unit]
Description=Gem kursen på realkredit lån i InfluxDB
Requires=docker.service

[Service]
Type=exec
#  "--net haasio" virker for min Home Assistant installation 
ExecStart=docker run --net hassio --rm  per2jensen/fondskode:latest
Restart=no

[Install]
WantedBy=timers.target


