[Unit]
Description=Gem kursen på realkredit lån i InfluxDB

[Timer]
OnCalendar=*-*-* 23:53:* 
Unit=fondskode-getter.service
Persistent=true

[Install]
WantedBy=timers.target



